<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Profanity Power Index</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Profanity Power Index</h1>
        </div>
        <hr>
        <div class="row">
            <h5 class="text-center">Collected from the Twitter public timeline.</h5>
        </div>
        {% for subject in subjects %}
        <div class="row">
            <div class="col-md-5" id="{{ subject.id }}-barchart"></div>
            <div class="col-md-2">
                <div class="row" id="{{ subject.id }}-image">
                    <img src="{{ subject.image }}" style="width:180px; height:180px; border:2px solid black; margin: 1em auto 0">
                </div>
                <div class="row text-center">
                    <h5>{{ subject.display_name }}</h5>
                </div>
            </div>
            <div class="col-md-5" id="{{ subject.id }}-sparkline"></div>
        </div>
        <hr>
        {% endfor %}
    </div>
    <div class="row">
        <p class="text-center">
            Technical shit: Collected with <a href="https://github.com/bear/python-twitter">python-twitter</a> and <a href="https://github.com/elastic/elasticsearch">Elasticsearch</a>.
            Visualization built with <a href="https://d3js.org/">D3.js</a>.
            Check out the code on <a href="https://github.com/timothyrenner/profanity-power-index">GitHub</a>.
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="js/profanity_power_index.js" type="text/javascript"></script>
    <script>
        // TODO: Add the callback with the subjects.
        d3.csv("{{ file_location }}", csvCallback({{ subjects | tojson }}));
    </script>
</body>